
.d-flex {
  display: block !important;
  padding-top: 1%;
}
.conthome {
  padding-right: 0px !important; 
  padding-left: 0px !important; 
}

.controw{
  padding-left: 250px;
  margin-bottom:-60px;
}