.l_navbar.sticky-top{

	margin-bottom: 10px;
    margin-top: 10px;
	}
	
	.info_block
	{
		line-height: 1.8;
    font-size: 16px;
    color: #4a4e57;
	}
	.header_block{
			   text-align:center;
			   }
			   .hero-header{
			   background:url('../img/thumbnail2.png') !important;
			   }
			   .header_title{
					color:#fff; text-align:center;
					font-size: 3.8rem;
			   }
			   p{
				font-size: 16px !important;
			   }
			   .header_content{
				color:#fff; line-height: 1.8; text-align:center; font-size:18px !important;
			   }
			   .white_l_btn{
				color:#4a4e57 !important;
				background-color: #fff !important;
				border-color: #fff !important;
			   }
			   .display-6{
			   color:#004188;
			   font-size:3.5rem;
			   }
			   .client_img img{
				width:150px;
				}
			   
			   .owl-prev{
			   background:rgb(242, 109, 33) !important;
			   }
			   .owl-next{
			   background:rgb(242, 109, 33) !important;
			   }
			   .service_page_content{
			   color:#4a4e57 !important; line-height: 1.8; text-align:center; font-size:18px !important;
			   }
			   .service-item{
			   text-align:center !important;
			   box-shadow:0px 2px 8px 0px rgb(167 167 167 / 59%);
			   border-radius:10px;
			   display:table-cell;
			   }
			   .service-item img{
			   width:40%;
			   }
			   .service-item p{
			   line-height: 1.8;
				font-size: 16px;
				color: #4a4e57;
			   }
			   
			   .service_box{
			   display:table;
			   }
			   .p2p_platform{
			   margin-right: 16px;margin-left: 16px;
			   }
			   .p2p_platform p{
			   color:#fff !important;
			   font-size: 16px;
			   text-align:center;
			   }
			   .community_img{
				box-shadow: 3px 3px 7px rgb(0 0 0 / 30%);
				}
				.community_txt{
				margin-top:8px;
				font-weight:600;
				font-size: 16px;
				color: #4a4e57;
				}
				
				.l_btn-primary{
    background-color: #004188;
    border-color: #004188;
}

.l_text-primary{
background-color: #004188 !important;
color: #fff !important;
}
.service-item.bg-white::after{
border-color: #fbae82;
}