/********** Template CSS **********/
:root {
    --primary: #16D5FF;
    --secondary: #999999;
    --light: #F2F8FE;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 60px;
    z-index: 99;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.l_btn {
    font-weight: 500;
    transition: .5s;
}

.l_btn.l_btn-primary {
    color: #FFFFFF;
}

.l_btn-square {
    width: 38px;
    height: 38px;
}

.l_btn-sm-square {
    width: 32px;
    height: 32px;
}

.l_btn-lg-square {
    width: 48px;
    height: 48px;
}

.l_btn-square,
.l_btn-sm-square,
.l_btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size:14px;
}


/*** Navbar ***/
.l_navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.l_navbar .l_navbar-brand {
    height: 75px;
}

.l_navbar .l_navbar-nav .nav-link {
    margin-right: 30px;
   /* padding: 25px 0;*/
    color: var(--dark);
    font-weight: 500;
    outline: none;
    
}

.l_navbar .l_navbar-nav .nav-link:hover,
.l_navbar .l_navbar-nav .nav-link.active {
    color: var(--primary);
}

.l_navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .l_navbar .l_navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .l_navbar .l_navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .l_navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .l_navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

.l_navbar .l_btn:hover {
    color: #FFFFFF !important;
    background: var(--primary) !important;
}


/*** Header ***/
.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--secondary);
}


/*** Service ***/
.service-item {
    position: relative;
    overflow: hidden;
}

.service-item::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -80px;
    right: -80px;
    border: 80px solid;
    transform: rotate(45deg);
    opacity: 1;
    transition: .5s;
}

.service-item.bg-white::after {
    border-color: transparent transparent var(--light) transparent;
}

.service-item.l_bg-light::after {
    border-color: transparent transparent #FFFFFF transparent;
}

.service-item:hover::after {
    opacity: 0;
}


/*** Roadmap ***/
.roadmap-carousel {
    position: relative;
}

.roadmap-carousel::before {
    position: absolute;
    content: "";
    height: 0;
    width: 100%;
    top: 20px;
    left: 0;
    border-top: 0px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item .roadmap-point {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 6px;
    left: 50%;
    margin-left: -15px;
    background: #FFFFFF;
    border: 2px solid var(--primary);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap-carousel .roadmap-item .roadmap-point span {
    display: block;
    width: 18px;
    height: 18px;
    background: var(--primary);
}

.roadmap-carousel .roadmap-item {
    position: relative;
    padding-top: 150px;
    text-align: center;
}

.roadmap-carousel .roadmap-item::before {
    position: absolute;
    content: "";
    width: 0;
    height: 115px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-right: 2px dashed var(--secondary);
}

.roadmap-carousel .roadmap-item::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    top: 111px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
    background: var(--primary);
}

.roadmap-carousel .owl-nav {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.roadmap-carousel .owl-nav .owl-prev,
.roadmap-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: .5s;
}

.roadmap-carousel .owl-nav .owl-prev:hover,
.roadmap-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Footer ***/
.footer .l_btn.l_btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .l_btn.l_btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
    margin-right: 10px;
}

.footer .l_btn.l_btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .l_btn.l_btn-square {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.footer .l_btn.l_btn-square:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(17, 17, 17, .1);
}

.footer .copyright a {
    color: var(--primary);
}

.footer .copyright a:hover {
    color: var(--dark);
}

.l_navbar-expand-lg{
	justify-content: space-between;
}

.nav_main_menu:hover{
	color:#004188 !important;
	border: 2px solid #004188;
	border-radius:8px;
	
}

.nav_main_menu{
	
	border: 2px solid #fff;
	border-radius:8px;
	color:#004188 !important;
	font-size:16px;
	
}

.nav_main_menu .active{
	color:#004188 !important;
	
	
}

.back-to-top:hover{
	background-color: #004188;
    border-color: #004188;
}
.footer_black
{
	background-color:#292929;
	color:#fff !important;
}

.hr_border{
	border:1.5px solid !important;
	border-color:#fff !important; 
}

hr
{
	color:#fff !important;
}

.banner_btn{
    color:#fff !important;
    background-color: #e65c0d !important;
    font-size: 16px;
    border-radius: 8px;
    
    padding:8px 30px 8px 30px;
}

.separator{
    margin-top: 30px;
    margin-bottom: 30px;
}


.footer_title{
    font-size: 22px !important;
    color: #fff !important;
    margin-bottom: 15px;
}

.footer_sitemap{
    font-size: 15px;
    color: #fff !important;
}

.footer_sitemap:hover{
    font-size: 15px;
    color: #fff !important;
    
}
.footer_black ul{
    list-style-type: none;
    padding-left:0px;
}
.footer_black ul li{
margin-bottom: 15px;
}
.copyright_content{
    color:#fff !important;
    font-size: 15px;
}
.copyright_content a{
    color:#fff !important;
}
.copyright_content a:hover{
    color:#fff !important;
}




.getstarted_btn{
	background-color: #004188 !important;
    border-color: #004188 !important;
    border-radius:8px;
    font-size: 14px;
    color:#fff !important;
    padding-top: 6px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.privacy_page_content p{
	color: #4a4e57 !important;
    line-height: 1.8;
    font-size: 16px !important;
}

.privacy_page_content h4{
	font-weight: 600;
    margin-top: 22px;
    margin-bottom: 8px;
    font-size: 22px;
    color: #004188;
    line-height: 1.2;
}

.privacy_page_content ul{
	list-style-type: none;
}
.list_icons{
	background-color: #f26d21;
    font-size: 14.08px;
    height: 27.2px;
    width: 27.2px;
    margin-right: 11.2px;
    border-radius: 50%;
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.li-item-content{
	margin-left:38.4px;
}

.privacy_page_content li{
padding:6.5px 0;
color: #4a4e57 !important;
    line-height: 1.8;
    font-size: 16px !important;
}
