//
// Base styles
//

.l_btn {
  display: inline-block;
  font-family: $l_btn-font-family;
  font-weight: $l_btn-font-weight;
  line-height: $l_btn-line-height;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $l_btn-white-space;
  vertical-align: middle;
  cursor: if($enable-button-pointers, pointer, null);
  user-select: none;
  background-color: transparent;
  border: $l_btn-border-width solid transparent;
  @include button-size($l_btn-padding-y, $l_btn-padding-x, $l_btn-font-size, $l_btn-border-radius);
  @include transition($l_btn-transition);

  &:hover {
    color: $body-color;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  .l_btn-check:focus + &,
  &:focus {
    outline: 0;
    box-shadow: $l_btn-focus-box-shadow;
  }

  .l_btn-check:checked + &,
  .l_btn-check:active + &,
  &:active,
  &.active {
    @include box-shadow($l_btn-active-box-shadow);

    &:focus {
      @include box-shadow($l_btn-focus-box-shadow, $l_btn-active-box-shadow);
    }
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    pointer-events: none;
    opacity: $l_btn-disabled-opacity;
    @include box-shadow(none);
  }
}


//
// Alternate buttons
//

// scss-docs-start l_btn-variant-loops
@each $color, $value in $theme-colors {
  .l_btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $theme-colors {
  .l_btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
// scss-docs-end l_btn-variant-loops


//
// Link buttons
//

// Make a button look and behave like a link
.l_btn-link {
  font-weight: $font-weight-normal;
  color: $l_btn-link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $l_btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $l_btn-link-disabled-color;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.l_btn-lg {
  @include button-size($l_btn-padding-y-lg, $l_btn-padding-x-lg, $l_btn-font-size-lg, $l_btn-border-radius-lg);
}

.l_btn-sm {
  @include button-size($l_btn-padding-y-sm, $l_btn-padding-x-sm, $l_btn-font-size-sm, $l_btn-border-radius-sm);
}
