// Make the div behave like a button
.l_btn-group,
.l_btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle; // match .l_btn alignment given font-size hack above

  > .l_btn {
    position: relative;
    flex: 1 1 auto;
  }

  // Bring the hover, focused, and "active" buttons to the front to overlay
  // the borders properly
  > .l_btn-check:checked + .l_btn,
  > .l_btn-check:focus + .l_btn,
  > .l_btn:hover,
  > .l_btn:focus,
  > .l_btn:active,
  > .l_btn.active {
    z-index: 1;
  }
}

// Optional: Group multiple button groups together for a toolbar
.l_btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .input-group {
    width: auto;
  }
}

.l_btn-group {
  // Prevent double borders when buttons are next to each other
  > .l_btn:not(:first-child),
  > .l_btn-group:not(:first-child) {
    margin-left: -$l_btn-border-width;
  }

  // Reset rounded corners
  > .l_btn:not(:last-child):not(.dropdown-toggle),
  > .l_btn-group:not(:last-child) > .l_btn {
    @include border-end-radius(0);
  }

  // The left radius should be 0 if the button is:
  // - the "third or more" child
  // - the second child and the previous element isn't `.l_btn-check` (making it the first child visually)
  // - part of a l_btn-group which isn't the first child
  > .l_btn:nth-child(n + 3),
  > :not(.l_btn-check) + .l_btn,
  > .l_btn-group:not(:first-child) > .l_btn {
    @include border-start-radius(0);
  }
}

// Sizing
//
// Remix the default button sizing classes into new ones for easier manipulation.

.l_btn-group-sm > .l_btn { @extend .l_btn-sm; }
.l_btn-group-lg > .l_btn { @extend .l_btn-lg; }


//
// Split button dropdowns
//

.dropdown-toggle-split {
  padding-right: $l_btn-padding-x * .75;
  padding-left: $l_btn-padding-x * .75;

  &::after,
  .dropup &::after,
  .dropend &::after {
    margin-left: 0;
  }

  .dropstart &::before {
    margin-right: 0;
  }
}

.l_btn-sm + .dropdown-toggle-split {
  padding-right: $l_btn-padding-x-sm * .75;
  padding-left: $l_btn-padding-x-sm * .75;
}

.l_btn-lg + .dropdown-toggle-split {
  padding-right: $l_btn-padding-x-lg * .75;
  padding-left: $l_btn-padding-x-lg * .75;
}


// The clickable button for toggling the menu
// Set the same inset shadow as the :active state
.l_btn-group.show .dropdown-toggle {
  @include box-shadow($l_btn-active-box-shadow);

  // Show no shadow for `.l_btn-link` since it has no other button styles.
  &.l_btn-link {
    @include box-shadow(none);
  }
}


//
// Vertical button groups
//

.l_btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  > .l_btn,
  > .l_btn-group {
    width: 100%;
  }

  > .l_btn:not(:first-child),
  > .l_btn-group:not(:first-child) {
    margin-top: -$l_btn-border-width;
  }

  // Reset rounded corners
  > .l_btn:not(:last-child):not(.dropdown-toggle),
  > .l_btn-group:not(:last-child) > .l_btn {
    @include border-bottom-radius(0);
  }

  > .l_btn ~ .l_btn,
  > .l_btn-group:not(:first-child) > .l_btn {
    @include border-top-radius(0);
  }
}
