// transparent background and border properties included for button version.
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

.l_btn-close {
  box-sizing: content-box;
  width: $l_btn-close-width;
  height: $l_btn-close-height;
  padding: $l_btn-close-padding-y $l_btn-close-padding-x;
  color: $l_btn-close-color;
  background: transparent escape-svg($l_btn-close-bg) center / $l_btn-close-width auto no-repeat; // include transparent for button elements
  border: 0; // for button elements
  @include border-radius();
  opacity: $l_btn-close-opacity;

  // Override <a>'s hover style
  &:hover {
    color: $l_btn-close-color;
    text-decoration: none;
    opacity: $l_btn-close-hover-opacity;
  }

  &:focus {
    outline: 0;
    box-shadow: $l_btn-close-focus-shadow;
    opacity: $l_btn-close-focus-opacity;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: $l_btn-close-disabled-opacity;
  }
}

.l_btn-close-white {
  filter: $l_btn-close-white-filter;
}
