// Container widths
//
// Set the l_container width, and override it for fixed l_navbars in media queries.

@if $enable-grid-classes {
  // Single l_container class with breakpoint max-widths
  .l_container,
  // 100% wide l_container at all breakpoints
  .l_container-fluid {
    @include make-l_container();
  }

  // Responsive l_containers that are 100% wide until a breakpoint
  @each $breakpoint, $l_container-max-width in $l_container-max-widths {
    .l_container-#{$breakpoint} {
      @extend .l_container-fluid;
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      %responsive-l_container-#{$breakpoint} {
        max-width: $l_container-max-width;
      }

      // Extend each breakpoint which is smaller or equal to the current breakpoint
      $extend-breakpoint: true;

      @each $name, $width in $grid-breakpoints {
        @if ($extend-breakpoint) {
          .l_container#{breakpoint-infix($name, $grid-breakpoints)} {
            @extend %responsive-l_container-#{$breakpoint};
          }

          // Once the current breakpoint is reached, stop extending
          @if ($breakpoint == $name) {
            $extend-breakpoint: false;
          }
        }
      }
    }
  }
}
