// Row
//
// Rows contain your columns.

@if $enable-grid-classes {
  .l_row {
    @include make-l_row();

    > * {
      @include make-col-ready();
    }
  }
}


// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}
