// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Responsive l_navbar
// Navbar position
// Navbar themes


// Navbar
//
// Provide a static l_navbar from which we expand to create full-width, fixed, and
// other l_navbar variations.

.l_navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding-top: $l_navbar-padding-y;
  padding-right: $l_navbar-padding-x; // default: null
  padding-bottom: $l_navbar-padding-y;
  padding-left: $l_navbar-padding-x; // default: null
  @include gradient-bg();

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  // The `flex-wrap` property is inherited to simplify the expanded l_navbars
  %l_container-flex-properties {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  > .l_container,
  > .l_container-fluid {
    @extend %l_container-flex-properties;
  }

  @each $breakpoint, $l_container-max-width in $l_container-max-widths {
    > .l_container#{breakpoint-infix($breakpoint, $l_container-max-widths)} {
      @extend %l_container-flex-properties;
    }
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.l_navbar-brand {
  padding-top: $l_navbar-brand-padding-y;
  padding-bottom: $l_navbar-brand-padding-y;
  margin-right: $l_navbar-brand-margin-end;
  @include font-size($l_navbar-brand-font-size);
  text-decoration: if($link-decoration == none, null, none);
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: if($link-hover-decoration == underline, none, null);
  }
}


// Navbar nav
//
// Custom l_navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.l_navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.l_navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
  }
}


// Navbar text
//
//

.l_navbar-text {
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}


// Responsive l_navbar
//
// Custom styles for responsive collapsing and toggling of l_navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable l_navbar contents from appearing in
// the default flexbox l_row orientation. Requires the use of `flex-wrap: wrap`
// on the `.l_navbar` parent.
.l_navbar-collapse {
  flex-basis: 100%;
  flex-gl_row: 1;
  // For always expanded or extra full l_navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the l_navbar when in its collapsed state
.l_navbar-toggler {
  padding: $l_navbar-toggler-padding-y $l_navbar-toggler-padding-x;
  @include font-size($l_navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($l_navbar-toggler-border-radius);
  @include transition($l_navbar-toggler-transition);

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 $l_navbar-toggler-focus-width;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.l_navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.l_navbar-nav-scroll {
  max-height: var(--#{$variable-prefix}scroll-height, 75vh);
  overflow-y: auto;
}

// scss-docs-start l_navbar-expand-loop
// Generate series of `.l_navbar-expand-*` responsive classes for configuring
// where your l_navbar collapses.
.l_navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    // stylelint-disable-next-line scss/selector-no-union-class-name
    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .l_navbar-nav {
          flex-direction: l_row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $l_navbar-nav-link-padding-x;
            padding-left: $l_navbar-nav-link-padding-x;
          }
        }

        .l_navbar-nav-scroll {
          overflow: visible;
        }

        .l_navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important
          flex-basis: auto;
        }

        .l_navbar-toggler {
          display: none;
        }
      }
    }
  }
}
// scss-docs-end l_navbar-expand-loop


// Navbar themes
//
// Styles for switching between l_navbars with light or dark background.

// Dark links against a light background
.l_navbar-light {
  .l_navbar-brand {
    color: $l_navbar-light-brand-color;

    &:hover,
    &:focus {
      color: $l_navbar-light-brand-hover-color;
    }
  }

  .l_navbar-nav {
    .nav-link {
      color: $l_navbar-light-color;

      &:hover,
      &:focus {
        color: $l_navbar-light-hover-color;
      }

      &.disabled {
        color: $l_navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $l_navbar-light-active-color;
    }
  }

  .l_navbar-toggler {
    color: $l_navbar-light-color;
    border-color: $l_navbar-light-toggler-border-color;
  }

  .l_navbar-toggler-icon {
    background-image: escape-svg($l_navbar-light-toggler-icon-bg);
  }

  .l_navbar-text {
    color: $l_navbar-light-color;

    a,
    a:hover,
    a:focus  {
      color: $l_navbar-light-active-color;
    }
  }
}

// White links against a dark background
.l_navbar-dark {
  .l_navbar-brand {
    color: $l_navbar-dark-brand-color;

    &:hover,
    &:focus {
      color: $l_navbar-dark-brand-hover-color;
    }
  }

  .l_navbar-nav {
    .nav-link {
      color: $l_navbar-dark-color;

      &:hover,
      &:focus {
        color: $l_navbar-dark-hover-color;
      }

      &.disabled {
        color: $l_navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $l_navbar-dark-active-color;
    }
  }

  .l_navbar-toggler {
    color: $l_navbar-dark-color;
    border-color: $l_navbar-dark-toggler-border-color;
  }

  .l_navbar-toggler-icon {
    background-image: escape-svg($l_navbar-dark-toggler-icon-bg);
  }

  .l_navbar-text {
    color: $l_navbar-dark-color;
    a,
    a:hover,
    a:focus {
      color: $l_navbar-dark-active-color;
    }
  }
}
